<!doctype html>
<html ng-app>
<head>
	<title>  Iterating  over Data    </title>
	<link href="styles.css"  rel="stylesheet" type="text/css"  />

</head>
<body  ng-init="people=[{name:'John',city:'Chandler'},{name:'Tina',city:'New York'}]">
	
	<ul>
		
		<li ng-repeat="person in people"> {{person.name}}  {{person.city}}

	</ul>
	<br />


	<table>
	   <tr>
		  <td> Name </td>
		  <td> City </td>
	   </tr>		
		

		<tr ng-repeat="person in people">
		
			<td> {{person.name}} </td>
			<td>  {{person.city}} </td>

		</tr>


	</table>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>	
 
</body>

</html>
